<div class="container-fruid" style="padding-top: 100px;">
  <div class="container">
    <div class="row">

      <!--サムネイル表示-->
      <div class="col-md-3">
        <% if @introduction.image1.nil? && @introduction.image2.nil? && @introduction.image3.nil? %>
          <%= image_tag 'noimage.png', size: '250x250' %>
        <% else %>
          <%= attachment_image_tag @introduction, :image1, :fill, 250, 250, format: 'jpeg' %>
          <%= attachment_image_tag @introduction, :image2, :fill, 250, 250, format: 'jpeg' %>
          <%= attachment_image_tag @introduction, :image3, :fill, 250, 250, format: 'jpeg' %>
        <% end %>
      </div>

      <div class="col-md-9">
        <!--タグ-->
        <% @tags.each do |tag| %>
          <%= link_to tag.name, introductions_path(tag: tag.name), class: "btn btn-default" %>
        <% end %>

        <!--アイテム名-->
        <div class="introduction_title">
          <%= @introduction.name %>
        </div>

        <!--キャプション-->
        <div class="introduction_caption">
          <%= @introduction.caption %>
        </div>

        <div class="introduction_search">
          <%= link_to '楽天市場検索', rakuten_search_path(keyword: @introduction.name), class: "btn btn-danger" %>
          <%= link_to 'Youtubeで検索', youtube_search_path(keyword: @introduction.name), class: "btn btn-danger" %>
        </div>

        <!--紹介の内容-->
        <h3 style="border-bottom-style: solid;">説明</h3>

        <div>
          <%= Rinku.auto_link(simple_format(@introduction.contents), :all, 'target="_blank"').html_safe %>
        </div>
        
        <!--いいねボタン-->
        <div id="like_button">
          <%= render partial: 'like' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%= render 'layouts/footer' %>
</div>