<div class="container-fruid" style="padding-top: 100px;">
  <div class="container">
    <div class="row">

      <!--サムネイル表示-->
      <div class="col-md-3">
        <% if @introduction.image1.url.nil? && @introduction.image2.url.nil? && @introduction.image3.url.nil? %>
          <%= image_tag 'noimage.png', size: '250x250' %>
        <% else %>
          <%= image_tag @introduction.image1.url if @introduction.image1.url.present? %>
          <%= image_tag @introduction.image2.url if @introduction.image2.url.present? %>
          <%= image_tag @introduction.image3.url if @introduction.image3.url.present? %>
        <% end %>
      </div>

      <div class="col-md-8 pull-right">
        <!--タグ-->
        <% @tags.each do |tag| %>
          <%= link_to tag.name, introductions_path(tag: tag.name), class: "btn btn-default" %>
        <% end %>

        <!--アイテム名-->
        <div class="introduction_title">
          <%= @introduction.name %>
        </div>

        <!--キャプション-->
        <div class="introduction_caption">
          <%= @introduction.caption %>
        </div>

        <div class="introduction_search">
          <%= link_to '楽天市場検索', rakuten_search_path(keyword: @introduction.name), class: "btn btn-danger" %>
          <%= link_to 'Youtubeで検索', youtube_search_path(keyword: @introduction.name), class: "btn btn-danger" %>
        </div>

        <!--紹介の内容-->
        <h3 style="border-bottom-style: solid;">説明</h3>

        <div>
          <%= Rinku.auto_link(simple_format(@introduction.contents), :all, 'target="_blank"').html_safe %>
        </div>
        
        <!--いいねボタン-->
        <div id="like_button">
          <%= render partial: 'like' %>
        </div>
        <div class="pull-right">
          <%= render 'layouts/footer' %>
        </div>
      </div>
    </div>
  </div>
</div>
