<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @account, local: true) do |f| %>
      
      <%= f.label :cashed_on, class: "label-signup" %>
      <%= f.datetime_field :cashed_on, value: Time.current.strftime('%Y-%m-%dT00:00:00'), class: "form-control" %>

      <%= f.label :summary, class: "label-signup" %>
      <%= f.text_field :summary, class: "form-control" %>

      <%= f.label :category, class: "label-signup" %>
      <%= f.text_field :category, class: "form-control" %>

      <%= f.label :price, class: "label-signup" %>
      <%= f.number_field :price, class: "form-control" %>

      <%= f.label :description, class: "label-signup" %>
      <%= f.text_field :description, class: "form-control" %>

      <%= f.submit yield(:button_text), class: "btn btn-primary btn-signup btn-block" %>
    <% end %>
  </div>
</div>