<div class="row">
  <h1><%= @account.summary %></h1>
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-bordered">
      <tr>
        <th class="task_table_th"><%= Account.human_attribute_name :id %></th>
        <td><%= @account.id %></td>
      </tr>
      
      <tr>
        <th class="task_table_th"><%= Account.human_attribute_name :summary %></th>
        <td><%= @account.summary %></td>
      </tr>
      
      <tr>
        <th class="task_table_th"><%= Account.human_attribute_name :description %></th>
        <td><%= Rinku.auto_link(@account.description, :all, 'target="_blank"').html_safe %></td>
      </tr>
      
      <tr>
        <th class="task_table_th"><%= Account.human_attribute_name :created_at %></th>
        <td><%= l @account.created_at %></td>
      </tr>
      
      <tr>
        <th class="task_table_th"><%= Account.human_attribute_name :updated_at %></th>
        <td><%= l @account.updated_at %></td>
      </tr>
    </table>
    <%= link_to "編集", edit_user_account_path(@user, @account), class:"btn btn-success" %>
    <%= link_to "削除", user_account_path(@user, @account),method: :delete , class:"btn btn-danger" ,data:{confirm:"削除しますか？"} %>
  </div>    
</div>
